// ===============
// colors palette
// ===============
:root {
  // Site colors (Кольори сайту):
  // =================================================================
  --main-bg: #fbfbfb; // Site main color - (Основний колір сайту)
  --white: #ffffff; // Light white
  --light-white: #f3f4f5; // Light white
  --black: #000000; // Black
  --purple: #7d60ff; // Purple
  --blue: #266df0; // Blue
  // Background colors (Фонові кольори):
  // =================================================================
  --bg-primary: #242423; // BG primary background color - (Основний фоновий колір сайту)
  --bg-button: #383e47; // BG button (У кнопок)

  // Text colors (Текстові кольори):
  // =================================================================
  --text-title: #1d1e20; // Text title (Заголовки)
  --text-title-sub: #31373d; // Text sub-title (Саб заголовки)
  --text-color: #555e67; // Text color (Текст)
  --text-color-sub: #727b84; // Text sub-color (Саб Текст)
  --text-light: #99a2af; // Text light (Яркий)
  --text-gray-title: #9098a0; // Text Gray title (Яркий)
  --text-gray: #666b71; // Text gray (Яркий)
  // =================================================================
}
